<!--- templates/partials/image_user_list_content.html -->
<div class="row d-flex justify-content-center">
    {% for image in images %}
    <div class="col-md-6 col-xl-4">
        <div class="card mb-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{image.thumbnail.url}}" alt="{{image.title}}" class="card-img-top">
                <a href="{% url 'image_detail' image.id %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                <form method="get" action="{% url 'image_delete' image.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light" data-mdb-ripple-color="dark">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No images to display.</p>
    {% endfor %}
</div>
