<!-- templates/payments/buy_credits.html {% endcomment -->

{% extends "base.html" %} 
{% block title %}AI Greeting Cards | Buy Credits {% endblock title%} 
{% block head %}<script defer src="https://js.stripe.com/v3/"></script>{% endblock head %}
{% block content %}
<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body ">
      <h1 class="card-title mb-4">Buy Credits For Image Generation</h1>
      <hr>
      <div class="card-text">
        <h3 class="card-text">$0.50 for 10 credits (1 image)</h3>
        <form
          hx-boost="false"
          class="my-4"
          action="{% url 'create-checkout-session' %}" 
          method="POST"
        >
          {% csrf_token %}
          <label class="mb-2" for="credits">Select Credits:</label>
          <select class="form-control mb-4" name="credits" id="credits" >
            <option value="10">10 Credits ($0.50)</option>
            <option value="20">20 Credits ($1.00)</option>
            <option value="30">30 Credits ($1.50)</option>
            <option value="40">40 Credits ($2.00)</option>
            <option value="50">50 Credits ($2.50)</option>
          </select>
          <button type="submit" class="btn btn-light btn-block">Checkout</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 