<!-- templates/payments/buy_credits.html -->

{% extends "base.html" %} 
{% block title %}AI Greeting Cards | Buy Credits {% endblock title%} 
{% block head %}<script defer src="https://js.stripe.com/v3/"></script>{% endblock head %}
{% block content %}
<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body ">
      <h1 class="card-title mb-4">Buy Credits For Image Generation</h1>
      <hr>
      <div class="card-text">
        <h4 class="card-text">10 credits ($0.50) = 1 standard quality image</h4>
        <h4 class="card-text">20 credits ($1.00) = 1 HD quality image</h4>
        <hr>
        <h3 class="card-text">Credits Pricing Options:</h3>
        <ul class="list-group list-group-light mb-4">
          <li class="list-group-item list-group-item-dark">100 Credits ($5.00) - Ideal for trying out our service.</li>
          <li class="list-group-item list-group-item-dark">250 Credits ($12.00) - Save $0.50 compared to buying multiple smaller packages.</li>
          <li class="list-group-item list-group-item-dark">500 Credits ($22.50) - Our most popular option!</li>
          <li class="list-group-item list-group-item-dark">750 Credits ($32.50) - Best value for frequent users.</li>
          <li class="list-group-item list-group-item-dark">1000 Credits ($40.00) - Maximum savings!</li>
        </ul>
        <hr>
        <form
          hx-boost="false"
          class="my-4"
          action="{% url 'create-checkout-session' %}" 
          method="POST"
        >
          {% csrf_token %}
          <label class="mb-2" for="credits">Select Amount of Credits for Purchase:</label>
          <select class="form-control mb-4" name="credits" id="credits" >
            <option value="100">100 Credits ($5.00)</option>
            <option value="250">250 Credits ($12.00)</option>
            <option value="500">500 Credits ($22.50)</option>
            <option value="750">750 Credits ($32.50)</option>
            <option value="1000">1000 Credits ($40.00)</option>
          </select>
          <button type="submit" class="btn btn-light btn-block" data-mdb-ripple-color="dark">Checkout</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 