<!--- templates/home.html -->
{% extends 'base.html' %}
<!DOCTYPE html>

{% block title %}AI Greeting Cards | Generate Image{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="my-4">AI Greeting Card App</h1>
  <form hx-boost="false" method="POST">
    {% csrf_token %}
    <label class="form-label form-light form__label--white" for="prompt"
      >Enter description to generate image:</label
    >
    <div class="form-outline form-light mb-4 form__label--white">
      <input
      type="text"
      class="form-control form-light"
      name="prompt"
      id="prompt"
      />
      
      <div class="form-notch">
        <div class="form-notch-leading"></div>
        <div class="form-notch-middle"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>

    <!-- Size selection -->
    <label class="form-label form-light form__label--white" for="size"
    >Select image size:</label
    >
    <select class="form-select mb-4 form__select--styled" data-mdb-select-init name="size" id="size">
      <option value="1024x1024">1024x1024 (1:1)</option>
      <option value="1024x1792">1024x1792 (4:7)</option>
      <option value="1792x1024">1792x1024 (7:4)</option>
    </select>

    <!-- Quality selection -->
    <label class="form-label form-light form__label--white" for="quality">Select image quality:</label>
    <select class="form-select mb-4 form__select--styled" name="quality" id="quality">
      <option value="standard">Standard (10 credits)</option>
      <option value="hd">HD (20 credits)</option>
    </select>

    <!-- Style selection -->
    <label class="form-label form-light form__label--white" for="style">Select image style:</label>
    <select class="form-select mb-4 form__select--styled" name="style" id="style">
      <option value="vivid">Vivid</option>
      <option value="natural">Natural</option>
    </select>

  <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-light btn-block mb-4"
      data-mdb-ripple-color="dark"
    >
      Submit
    </button>
  </form>
  <a
    hx-boost="false"
    href="{% url 'image_list' %}"
    class="btn btn-light btn-block mb-4"
    data-mdb-ripple-color="dark"
    >View All Images</a
  >

</div>
{% endblock %}
