<!--- templates/home.html -->
{% extends 'base.html' %}
<!DOCTYPE html>

{% block title %}AI Greeting Cards | Generate Image{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="my-4">AI Greeting Card App</h1>
  <form method="POST">
    {% csrf_token %}
    <label class="form-label form-light" for="prompt" style="color: #fff"
      >Enter description to generate image:</label
    >
    <div class="form-outline form-light mb-4">
      <input
      type="text"
      class="form-control form-light"
      name="prompt"
      id="prompt"
      style="color: #fff"
      />
      
      <div class="form-notch">
        <div class="form-notch-leading"></div>
        <div class="form-notch-middle"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>
    <label class="form-label form-light" for="size" style="color: #fff"
    >Select image size:</label
    >
    <select class="form-select mb-4" data-mdb-select-init name="size" id="size" style="color: #fff; background-color: #333; border-color: #C3C3C3;">
      <option value="1024x1024">1024x1024 (1:1)</option>
      <option value="1024x1792">1024x1792 (4:7)</option>
      <option value="1792x1024">1792x1024 (7:4)</option>
    </select>
    <p class="text-muted mb-4"><em>(10 credits required to generate image)</em></p>
    <button
      type="submit"
      class="btn btn-light btn-block mb-4"
      data-mdb-ripple-color="dark"
    >
      Submit
    </button>
  </form>
  <a
    href="{% url 'image_list' %}"
    class="btn btn-light btn-block mb-4"
    data-mdb-ripple-color="dark"
    >View All Images</a
  >

</div>
{% endblock %}
