<!-- templates/image_user_list.html -->
{% extends 'base.html' %}

{% block title %}AI Greeting Cards | My Images{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row d-flex justify-content-center">
        <h1 class="my-4">My Images</h1>
        <a href="{% url 'home' %}" class="btn btn-light btn-block mb-4" data-mdb-ripple-color="dark">Generate Image</a>
        <div id="image-user-list-container" hx-boost="true" class="row d-flex justify-content-center">
            {% include 'partials/image_user_list_content.html' %}
        </div>
    </div>
</div>
{% endblock %}
