<!-- templates/image_delete.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}AI Greeting Cards | Delete Image{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="my-4">Delete Image</h1>
  <hr>
  <p>Are you sure you want to delete <em>{{ image.title }}?</em></p>

  <form hx-boost="false" method="post">
    {% csrf_token %}
    <div class="my-4">
      <button type="submit" class="btn btn-block btn-light">Delete</button>
    </div>
    <div class="my-4">
      <a href="{% url 'image_list' %}" class="btn btn-block btn-light" data-mdb-ripple-color="dark">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}