<!--- templates/image_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}AI Greeting Cards | All images{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row d-flex justify-content-center">
        <h1 class="my-4">All images</h1>
        <a href="{% url 'home' %}" class="btn btn-light btn-block mb-4" data-mdb-ripple-color="dark">Generate Image</a>
        {% if task_id %}
            <div class="hidden mb-2" id="loading-spinner">
                <img class="mb-2" src="{% static 'img/bars-rotate-fade.svg' %}" alt="Loading..." />
                <p>Processing image...</p>
            </div>
            <div id="task-status" class="alert alert-danger hidden"></div>
        {% endif %}
        
        <div id="image-list-container" class="row d-flex justify-content-center">
            {% include 'partials/image_list_content.html' %}
        </div>

    </div>
    
    {% if task_id %}
        <div id="task-status"></div>
        <script>
            var pollingInterval = null;
            var pollingActive = false;

            function initializeTaskStatusPolling(task_id) {
                if (pollingActive) {
                    console.log('Polling already active, skipping initialization');
                    return;
                }

                function checkTaskStatus(task_id) {
                    console.log('Checking task status for task_id:', task_id);
                    fetch(`/check-task-status/${task_id}/`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Task status response:', data);
                        if (data.status === 'completed') {
                            console.log('Image generation completed!');
                            document.getElementById('loading-spinner').classList.add('hidden');
                            htmx.ajax('GET', '/images/refresh/', '#image-list-container').then(function() {
                                console.log('Image list refreshed');
                                clearInterval(pollingInterval);  // Stop polling
                                pollingInterval = null;
                                pollingActive = false;
                                console.log('Polling stopped');
                                document.removeEventListener('htmx:load', onHtmxLoad);
                            });
                            updateCredits();
                        } else if (data.status.startsWith('failed')) {
                            console.log('Image generation failed:', data.status);
                            document.getElementById('loading-spinner').classList.add('hidden');
                            document.getElementById('task-status').innerText = data.status;
                            document.getElementById('task-status').classList.remove('hidden');
                            clearInterval(pollingInterval);  // Stop polling
                            pollingInterval = null;
                            pollingActive = false;
                            console.log('Polling stopped');
                            document.removeEventListener('htmx:load', onHtmxLoad);
                        } else {
                            console.log('Image still processing');
                        }
                    })
                    .catch(error => {
                        console.error('Error checking task status:', error);
                        clearInterval(pollingInterval);  // Stop polling on error
                        pollingInterval = null;
                        pollingActive = false;
                        console.log('Polling stopped due to error');
                        document.removeEventListener('htmx:load', onHtmxLoad);
                    });
                }

                console.log('Starting task status polling for task_id:', task_id);
                document.getElementById('loading-spinner').classList.remove('hidden');
                pollingInterval = setInterval(() => checkTaskStatus(task_id), 2000);
                pollingActive = true;
            }

            function onHtmxLoad(event) {
                var task_id = "{{ task_id }}";
                console.log('htmx:load event fired');
                if (task_id) {
                    console.log('Content loaded with task_id:', task_id);
                    initializeTaskStatusPolling(task_id);
                } else {
                    console.log('No task_id found');
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                var task_id = "{{ task_id }}";
                console.log('DOMContentLoaded event fired');
                if (task_id) {
                    console.log('Page loaded with task_id:', task_id);
                    initializeTaskStatusPolling(task_id);
                } else {
                    console.log('No task_id found');
                }
            });

            document.addEventListener('htmx:load', onHtmxLoad);

            function updateCredits() {
                fetch('/get-credits/')
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#user-credits').innerText = `${data.credits} Credits`;
                });
            }
        </script>
    {% endif %}
</div>
{% endblock %}
